---
# By default egress traffic is not allowed, define below the ports allowed.
# ssh
# https
# https -> cockpit

ingress:
  - ports:
    - protocol: TCP
      port: 22
    - protocol: TCP
      port: 443
    - protocol: TCP
      port: 9090
egress:
  - ports:
    - protocol: TCP
      port: 22
    - protocol: TCP
      port: 443
    - protocol: TCP
      port: 9090
  